/***************************************/
/* HEADER*/ /*5*/
/**************************************/

.header {
  display: flex; /*5*/
  justify-content: space-between; /*5*/
  align-items: center; /*5*/
  background-color: #fdf2d9; /*5*/
  height: 9.6rem; /*5*/ /*nav will be sticky in future*/
  padding: 0 4.8rem; /*5*/
}

.logo {
  height: 2.2rem; /*5*/
}

/***************************************/
/* nav*/ /*6*/
/**************************************/

.main-nav-list {
  list-style: none; /*6*/
  display: flex; /*6*/
  align-items: center; /*6*/
  gap: 3.2rem; /*6*/
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none; /*6*/
  color: #333; /*6*/
  font-weight: 500; /*6*/
  font-size: 1.8rem; /*6*/
  transition: all 0.3s; /*6*/
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f; /*6*/
}

/*aplly all of the nav css and css of last*/
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem; /*6*/
  border-radius: 9px; /*6*/
  color: #fff; /*6*/
  background-color: #e67e22; /*6*/
}

.main-nav-link.nav-cta:active,
.main-nav-link.nav-cta:hover {
  background-color: #cf711f; /*6*/
}

/**************************************/
/*HERO SECTION*/ /*5*/
/**************************************/

/*container to display grid*/
.section-hero {
  background-color: #fdf2d9; /*3*/
  padding: 4.8rem 0 9.6rem 0; /*3*/
}

.hero {
  max-width: 130rem; /*2*/ /*= 1300px*/
  margin: 0 auto; /*2*/ /*to center container*/
  padding: 0 3.2rem; /*5*/
  display: grid; /*2*/
  grid-template-columns: 1fr 1fr; /*2*/
  gap: 9.6rem;
  align-items: center; /*3*/
}

.hero-description {
  font-size: 2rem; /*3*/
  line-height: 1.6; /*3*/
  margin-bottom: 4.8rem; /*3*/
}

.hero-img {
  /*half size of container*/
  width: 100%; /*2*/
}

.delivered-meals {
  display: flex; /*4*/
  align-items: center; /*4*/
  gap: 1.6rem; /*4*/
  margin-top: 8rem; /*4*/
}

.delivered-imgs {
  display: flex; /*4*/
}

.delivered-imgs img {
  height: 4.8rem; /*4*/
  width: 4.8rem; /*4*/
  border-radius: 50%; /*4*/
  margin-right: -1.6rem; /*4*/
  border: 3px solid #fdf2d9; /*4*/
}

.delivered-imgs img:last-child {
  margin: 0; /*4*/
}

.delivered-text {
  font-size: 1.8rem; /*4*/
  font-weight: 600; /*4*/
}

.delivered-text span {
  color: #cf711f; /*4*/
  font-weight: 700; /*4*/
}

/**************************************/
/*FEATURED IN */ /*9*/
/**************************************/
.section-featured {
  padding: 4.8rem 0 3.2rem 0; /*9*/
}

.heading-featured-in {
  font-size: 1.4rem; /*9*/
  text-transform: uppercase; /*9*/
  letter-spacing: 0.75px; /*9*/
  font-weight: 500; /*9*/
  text-align: center; /*9*/
  margin-bottom: 2.4rem; /*9*/
  color: #888;
}

.logos {
  display: flex; /*9*/
  justify-content: space-around; /*9*/
}

.logos img {
  height: 3.2rem; /*9*/
  filter: brightness(0); /*9*/ /*change color of imgs to black*/
  opacity: 50%; /*9*/ /*to make it grey 3n tree2 eny aft7ha shwya*/
}

/**************************************/
/*HOW IT WORK SECTION*/ /*7*/
/**************************************/

.section-how {
  padding: 9.6rem 0; /*7*/
}

.step-num {
  font-size: 8.6rem; /*8*/
  font-weight: 600; /*8*/
  color: #ddd; /*8*/
  margin-bottom: 1.2rem; /*8*/
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative; /*8*/
  display: flex; /*8*/
  align-items: center; /*8*/
  justify-content: center; /*8*/
}

/*its hack to make to Z pattern to make 2nd
 img near to text*/
.step-img-box::before,
.step-img-box::after {
  content: ""; /*8*/
  display: block; /*8*/
  border-radius: 50%; /*8*/

  position: absolute; /*8*/
  top: 50%; /*8*/
  left: 50%; /*8*/
  transform: translate(-50%, -50%); /*8*/
}

.step-img-box::before {
  width: 60%; /*8*/

  /*height: 60%;*/
  /*60% of parent's width*/
  padding-bottom: 60%; /*8*/

  background-color: #fdf2d9; /*8*/
  z-index: -1; /*8*/
}

.step-img-box::after {
  width: 45%; /*8*/
  padding-bottom: 45%; /*8*/
  background-color: #fae5d3; /*8*/
  z-index: -1; /*8*/
}

.step-img {
  width: 35%; /*8*/
}

/**************************************/
/*MEALS SECTION*/ /*10*/
/**************************************/

.section-meals {
  padding: 9.6rem 0; /*10*/
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075); /*10*/
  border-radius: 1.1rem; /*10*/
  overflow: hidden; /*10*/ /*to make border appear from under the img*/
  transition: all 0.4s; /*10*/
}
/*makes card of meal hover up*/
.meal:hover {
  transform: translateY(-1.2rem); /*10*/
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06); /*10*/
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem; /*10*/
}

.meal-tags {
  margin-bottom: 1.2rem; /*10*/
  display: flex; /*10*/
  gap: 0.4rem; /*10*/
}

.all-recipes {
  text-align: center; /*10*/
  font-size: 1.8rem; /*10*/
}

.tag {
  display: inline-block; /*10*/
  padding: 0.4rem 0.8rem; /*10*/
  font-size: 1.2rem; /*10*/
  text-transform: uppercase; /*10*/
  color: #333; /*10*/
  border-radius: 100px; /*10*/
  font-weight: 600; /*10*/
}

.tag--vegetarian {
  background-color: #51cf66; /*10*/
}

.tag--vegen {
  background-color: #94d82d; /*10*/
}

.tag--paleo {
  background-color: #ffd43b; /*10*/
}

.meal-title {
  font-size: 2.4rem; /*10*/
  color: #333; /*10*/
  font-weight: 600; /*10*/
  margin-bottom: 3.2rem; /*10*/
}

.meal-attributes {
  list-style: none; /*10*/
  display: flex; /*10*/
  flex-direction: column; /*10*/ /*to make it easy to put space between lis*/
  gap: 2rem; /*10*/
}

.meal-attribute {
  font-size: 1.8rem; /*10*/
  display: flex; /*10*/
  align-items: center; /*10*/
  gap: 1.6rem; /*10*/
}

.meal-icon {
  height: 2.4rem; /*10*/
  width: 2.4rem; /*10*/
  color: #e67e22; /*10*/
}

.meal-img {
  width: 100%; /*10*/
}

/**************************************/
/*TESTIMONIALS SECTION*/ /*11*/
/**************************************/

.section-testimonials {
  background-color: #fdf2d9; /*11*/
  display: grid; /*11*/
  grid-template-columns: 55fr 45fr; /*11*/ /*percentages*/
  align-items: center; /*11*/ /*clear the spacing while shrink size of screen*/
}

.testimonials-container {
  padding: 9.6rem; /*11*/
}

.testimonials {
  display: grid; /*11*/
  grid-template-columns: 1fr 1fr; /*11*/
  row-gap: 4.8rem; /*11*/
  column-gap: 8rem; /*11*/
}

.testimonial-img {
  width: 6.4rem; /*11*/
  border-radius: 50%; /*11*/
  margin-bottom: 1.2rem; /*11*/
}

.testimonial-text {
  font-size: 1.8rem; /*11*/
  line-height: 1.8; /*11*/
  margin-bottom: 1.6rem; /*11*/
}

.testimonial-name {
  font-size: 1.6rem; /*11*/
  color: #6f6f6f; /*11*/
}

.gallery {
  display: grid; /*11*/
  grid-template-columns: repeat(3, 1fr); /*11*/
  gap: 1.6rem; /*11*/
  padding: 1.6rem; /*11*/
}

/*parent of img*/
.gallery-item {
  overflow: hidden; /*11*/ /*make the animation inside the photo limit*/
}

.gallery-item img {
  display: block; /*11*/
  width: 100%; /*11*/
  transition: all 0.4s; /*11*/ /*make scale smooth*/
}

.gallery-item img:hover {
  transform: scale(1.1); /*11*/ /*when i hover on it*/
}

/**************************************/
/*PRICING SECTION*/ /*12*/
/**************************************/

.section-pricing {
  padding: 9.6rem 0; /*12*/
}

.pricing-plan {
  border-radius: 11px; /*12*/
  width: 75%; /*12*/
}

.pricing-plan--starter {
  justify-self: end; /*12*/
  border: 2px solid #fff;
  padding: 4.6rem; /*12*/
}

.pricing-plan--complete {
  background-color: #fae5d3; /*12*/
  padding: 4.8rem; /*12*/
  position: relative; /*12*/
  overflow: hidden; /*12*/ /*in parent*/
}

/*adding psuedoElement*/
.pricing-plan--complete::after {
  content: "Best value"; /*12*/
  position: absolute; /*12*/
  top: 6%; /*12*/
  right: -18%; /*12*/
  text-transform: uppercase; /*12*/
  font-size: 1.4rem; /*12*/
  font-weight: 700; /*12*/
  color: #333;
  background-color: #ffd43b; /*12*/
  padding: 0.8rem 8rem; /*12*/
  transform: rotate(45deg); /*12*/
}

.plan-header {
  text-align: center; /*12*/
  margin-bottom: 4.8rem; /*12*/
}

.plan-name {
  color: #cf711f; /*12*/
  font-size: 2rem; /*12*/
  font-weight: 600; /*12*/
  text-transform: uppercase; /*12*/
  letter-spacing: 0.75; /*12*/
  margin-bottom: 3.2rem; /*12*/
}

.plan-price {
  font-size: 6.2rem; /*12*/
  font-weight: 600; /*12*/
  color: #333; /*12*/
  margin-bottom: 1.6rem; /*12*/
}

.plan-price span {
  font-size: 3rem; /*12*/
  font-weight: 500; /*12*/
  margin-right: 0.8rem; /*12*/
}

.plan-text {
  font-size: 1.6rem; /*12*/
  line-height: 1.6; /*12*/
  color: #6f6f6f; /*12*/
}

.plan-sign-up {
  text-align: center; /*12*/
  margin-top: 4.8rem; /*12*/
}

.plan-details {
  font-size: 1.6rem; /*12*/
  line-height: 1.6; /*12*/
  text-align: center; /*12*/
}

/**************************************/
/*FEATURED SECTION #2*/ /*13*/
/**************************************/

.feature-icon {
  color: #e67e22; /*13*/
  height: 3.2rem; /*13*/
  width: 3.2rem; /*13*/
  background-color: #fdf2d9; /*13*/
  margin-bottom: 3.2rem; /*13*/
  padding: 1.6rem; /*13*/
  border-radius: 50%; /*13*/
}

.feature-title {
  font-size: 2.4rem; /*13*/
  color: #333; /*13*/
  font-weight: 700; /*13*/
  margin-bottom: 1.6rem; /*13*/
}

.feature-text {
  font-size: 1.8rem; /*13*/
  line-height: 1.8; /*13*/
}

/**************************************/
/*CTA SECTION */ /*14*/
/**************************************/

.section-cta {
  padding: 9.6rem 0; /*14*/
}

.cta {
  display: grid; /*14*/
  grid-template-columns: 2fr 1fr; /*14*/
  /* background-color: #e67e22; */ /*14*/
  border-radius: 11px; /*14*/
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15); /*14*/
  background-image: linear-gradient(90deg, #eb984e, #e67e22); /*14*/
  overflow: hidden; /*14*/
  /*temp*/
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem; /*14*/
  color: #452604; /*14*/
}

.cta-text {
  font-size: 1.8rem; /*14*/
  line-height: 1.8; /*14*/
  margin-bottom: 4.8rem;
}

.cta .heading-secondary {
  /*color: #452604;*/ /*14*/
  color: inherit; /*14*/

  margin-bottom: 3.2rem; /*14*/
}

.cta-img-box {
  background-image: linear-gradient(
      90deg,
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url("../img/eating.jpg"); /*14*/ /*transparent of img*/
  background-size: cover; /*14*/
  background-position: center; /*14*/ /*makes img centered while page shrink*/
}

.cta-form {
  display: grid; /*14*/
  grid-template-columns: 1fr 1fr; /*14*/
  column-gap: 3.2rem; /*14*/
  row-gap: 2.4rem; /*14*/
}

.cta-form label {
  display: block; /*14*/
  font-size: 1.6rem; /*14*/
  font-weight: 500; /*14*/
  margin-bottom: 1.2rem; /*14*/
}

.cta-form input,
.cta-form select {
  width: 100%; /*14*/
  padding: 1.2rem; /*14*/
  font-size: 1.8rem; /*14*/
  font-family: inherit; /*14*/ /*inherit font family of body*/
  color: inherit;
  border: none; /*14*/
  background-color: #fdf2d9; /*14*/
  border-radius: 9px; /*14*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /*14*/
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none; /*14*/ /*remove border when i focus on any thing*/
  /*outline: 4px dotted #e67e22;*/ /*14*/
  /*outline-offset: 8px;*/ /*14*/
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5); /*14*/
}
